In [33]:
import pandas as pd
import math
import numpy as np
from functions.sleeper_functions import *
from datetime import datetime

In [34]:
ppr = pd.read_csv('Files/working/ppr_analysis.csv', dtype='object')
ppr = ppr.dropna(subset=['r1_adp'])
existing_drafts = ppr.draft_id.drop_duplicates().to_list()

In [35]:
df = pd.read_csv('Files/working/results_2021.csv', dtype='object')

In [36]:
df = df[df['draft_type'] == 'snake']
df = df[df['scoring_type'] == 'ppr']

In [37]:
draft_ids = df.draft_id.drop_duplicates().to_list()

In [38]:
len(draft_ids)

5148

In [39]:
plist = [l for l in draft_ids if l not in existing_drafts]

In [40]:
len(plist)

2157

In [41]:
conn = http.client.HTTPSConnection('api.sleeper.app')
drafts = pd.DataFrame()
adp_table = pd.DataFrame()
for draft_id in plist:
    try:
        conn.request("GET", "/v1/draft/" + str(draft_id) + "/picks")
        response = conn.getresponse().read()
        dd = pd.json_normalize(json.loads(response), record_prefix=True, meta_prefix=True)
        adp_table = adp_table.append(dd)
        teams = max(dd['draft_slot'])
        dd = dd[dd['pick_no'] <= teams * 4]
        dd = dd.pivot(index=['draft_id','picked_by', 'draft_slot'], columns = ['round'], values = ['metadata.position', 'metadata.player_id', 'pick_no']).reset_index()
        dd = dd.T.reset_index(drop=True).transpose()
        dd.columns = ['draft_id','user_id','slot','r1_pos', 'r2_pos', 'r3_pos','r4_pos', 'r1_pid', 'r2_pid','r3_pid','r4_pid', 'r1_pick', 'r2_pick','r3_pick','r4_pick']
        dd['autopick'] = np.where(dd['user_id']=="", True, False)
        drafts = drafts.append(dd)
        
    except:
        pass

In [19]:
adp_table = adp_table.merge(df[['draft_id','draft_type','scoring_type']], on = 'draft_id', how= 'left')

In [20]:
adp_table = adp_table.groupby(['draft_type','scoring_type','player_id'])['pick_no'].mean().reset_index().sort_values(by='pick_no')

In [21]:
adp_table['adp_rank'] = adp_table.groupby('scoring_type')['pick_no'].rank("dense",ascending=True)

In [22]:
adp_table.columns = ['draft_type', 'scoring_type', 'player_id', 'adp_avg', 'adp_rank']

In [23]:
drafts = drafts.merge(df[['draft_id','scoring_type']], on='draft_id',how='left').drop_duplicates().reset_index(drop=True)

In [24]:
drafts

,draft_id,user_id,slot,r1_pos,r2_pos,r3_pos,r4_pos,r1_pid,r2_pid,r3_pid,r4_pid,r1_pick,r2_pick,r3_pick,r4_pick,autopick,scoring_type
0,738132630524059648,312682852397367296,1,RB,RB,WR,RB,4034,6813,4981,5892,1,20,21,40,False,ppr
1,738132630524059648,478808331692011520,4,WR,TE,RB,RB,2133,2505,7528,4273,4,17,24,37,False,ppr
2,738132630524059648,738128901980733440,6,QB,WR,TE,WR,4046,6794,5012,2309,6,15,26,35,False,ppr
3,738132630524059648,738142299506245632,7,RB,RB,WR,WR,3198,4663,5927,4039,7,14,27,34,False,ppr
4,738132630524059648,738145034024718336,8,RB,RB,QB,RB,4988,4866,4984,5850,8,13,28,33,False,ppr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16112,727384686300581888,731353109183471616,4,RB,RB,WR,QB,4029,6813,5927,96,4,17,24,37,False,ppr
16113,727384686300581888,731362528252272640,1,RB,WR,QB,TE,3198,6794,4881,515,1,20,21,40,False,ppr
16114,727384686300581888,731633023828762624,9,WR,RB,DEF,QB,2769,3164,CIN,5974,9,12,29,32,False,ppr
16115,727384686300581888,731678689217101824,6,WR,TE,RB,QB,2133,1466,6820,167,6,15,26,35,False,ppr
16116,727384686300581888,731692525257076736,10,WR,RB,QB,TE,5846,4866,6797,2505,10,11,30,31,False,ppr

In [25]:
drafts = drafts.merge(adp_table[['player_id','scoring_type','adp_rank']], left_on=['r1_pid','scoring_type'], right_on=['player_id','scoring_type'], how='left').drop('player_id', axis=1) 
drafts.rename(columns={'adp_rank':'r1_adp'}, inplace=True)

drafts = drafts.merge(adp_table[['player_id','scoring_type','adp_rank']], left_on=['r2_pid','scoring_type'], right_on=['player_id','scoring_type'], how='left').drop('player_id', axis=1) 
drafts.rename(columns={'adp_rank':'r2_adp'}, inplace=True)

drafts = drafts.merge(adp_table[['player_id','scoring_type','adp_rank']], left_on=['r3_pid','scoring_type'], right_on=['player_id','scoring_type'], how='left').drop('player_id', axis=1) 
drafts.rename(columns={'adp_rank':'r3_adp'}, inplace=True)

drafts = drafts.merge(adp_table[['player_id','scoring_type','adp_rank']], left_on=['r4_pid','scoring_type'], right_on=['player_id','scoring_type'], how='left').drop('player_id', axis=1) 
drafts.rename(columns={'adp_rank':'r4_adp'}, inplace=True)

In [26]:
cols_to_merge = drafts.columns.difference(df.columns)
dfNew = df.merge(drafts, on=['draft_id','user_id'], how='left', suffixes=('', '_y'))

dfNew.drop(dfNew.filter(regex='_y$').columns, axis=1, inplace=True)

In [27]:
len(dfNew.dropna().draft_id.drop_duplicates().to_list())

1493

In [28]:
dfNew = dfNew.dropna(subset=['r1_adp'])

In [29]:
ddf = ppr.append(dfNew)

In [32]:
ddf.drop_duplicates().to_csv('Files/working/ppr_analysis.csv', index=False)

In [18]:
dfNew.to_csv('ppr_analysis.csv', index=False)

AttributeError: 'Index' object has no attribute 'dtypes'